* {
  border: none;
  margin: none;
  padding: none;
  white-space: nowrap;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}
@font-face {
  font-family: "SF-Pro-Text";
  src: url("../public/SF-Pro.ttf");
}
